<div class='main-page'>
  <h3>Happy Birthday to Travis!</h3>

    <div class='col-md-4'>
      <div class='display-links'><%= link_to 'Get Started!', new_user_path %></div>
    </div>

    <div class='col-md-4'>
      <div class='display-links'><%= link_to 'Already Logged In?', users_path %></div>
    </div>

    <div class='col-md-4'>
      <div class='display-links'><%= link_to 'Current Ratings', page_total_path %></div>
    </div>

</div>
